<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Core</div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home
                </NavLink>

                <div class="sb-sidenav-menu-heading">Operations</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSearchDownload" aria-expanded="false" aria-controls="collapseSearchDownload">
                    <div class="sb-nav-link-icon"><i class="fas fa-save"></i></div>
                    Search & Download
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSearchDownload" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionSearchDownload">
                    <nav class="sb-sidenav-menu-nested nav">
                        <NavLink class="nav-link" href="search-youtube-videos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                            Search YouTube Videos
                        </NavLink>
                        <NavLink class="nav-link" href="download-youtube-videos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-download"></i></div>
                            Download YouTube Videos
                        </NavLink>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEditing" aria-expanded="false" aria-controls="collapseEditing">
                    <div class="sb-nav-link-icon"><i class="fas fa-video"></i></div>
                    Editing Videos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseEditing" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionEditing">
                    <nav class="sb-sidenav-menu-nested nav">
                        <NavLink class="nav-link" href="editing-youtube-videos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-film"></i></div>
                            Editing YouTube Videos
                        </NavLink>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUpload" aria-expanded="false" aria-controls="collapseUpload">
                    <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div>
                    Upload Videos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUpload" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionUpload">
                    <nav class="sb-sidenav-menu-nested nav">
                        <NavLink class="nav-link" href="upload-youtube-videos.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-cloud-upload-alt"></i></div>
                            Upload YouTube Videos
                        </NavLink>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Administration</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseModules" aria-expanded="false" aria-controls="collapseModules">
                    <div class="sb-nav-link-icon"><i class="fas fa-tools"></i></div>
                    Modules
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseModules" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <NavLink class="nav-link" href="videos-categories.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Videos Category
                        </NavLink>
                        <NavLink class="nav-link" href="remaining-quotas.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Remaining Quotas
                        </NavLink>
                        <NavLink class="nav-link" href="search-queries.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Search Queries
                        </NavLink>
                        <NavLink class="nav-link" href="upload-videos-apps-credentials.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Upload Videos Apps Credentials
                        </NavLink>
                        <NavLink class="nav-link" href="channel-management.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Channel Management
                        </NavLink>
                        <NavLink class="nav-link" href="channel-config-management.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
                            Channel Config Management
                        </NavLink>
                        <NavLink class="nav-link" href="log-management.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Logs Management
                        </NavLink>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>