YoutubeChaineVideos.Client.Domain/bin
YoutubeChaineVideos.Client.Domain/obj
YoutubeChaineVideos.Client.Busines/bin
YoutubeChaineVideos.Client.Busines/obj
YoutubeChaineVideos.Client.Shared/bin
YoutubeChaineVideos.Client.Shared/obj
YoutubeChaineVideos.Client.Web/bin
YoutubeChaineVideos.Client.Web/obj
YoutubeChaineVideos.Client.Maui/bin
YoutubeChaineVideos.Client.Maui/obj
YoutubeChaineVideos.Client.Test/bin
YoutubeChaineVideos.Client.Test/obj
.vscode
.vs
.sonarqube
YoutubeChaineVideos.Client.Domain/.sonarqube
YoutubeChaineVideos.Client.Busines/.sonarqube
YoutubeChaineVideos.Client.Shared/.sonarqube
YoutubeChaineVideos.Client.Web/.sonarqube
YoutubeChaineVideos.Client.Maui/.sonarqube
YoutubeChaineVideos.Client.Test/.sonarqube